body {
	background-color: #39275b;
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, Trebuchet, "Trebuchet MS", Sans;
}
img {
    border: 0;
}
a:link, a:visited, a:hover, a:active {
	color: #39275b;
}
#centered {
    width: 1000px;
	font-size: 12px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
	padding-bottom: 10px;
}

/*** Header CSS ***/
#searchb {
	width: 165px;
	float: right;
	height: 25px;
	overflow: hidden;
}
#lgo {
	float: left;
}
#rhtlnks {
	text-align: right;
	height: 25px;
}
#searcha {
	width: 415px;
	float: right;
}
#searcha ul {
	margin-top: 2px;
	text-decoration: none;
	display: inline;
}
#searcha ul li {
	display: inline;
	padding-right: 2px;
	font-size: 10px;
	font-weight: 400;
	color: #fff;
	font-family: "Lucida Grande", geneva, helvetica, sans-serif;
	text-decoration: none;
}
#rhtlnks a {
	color: #fff;
}
#rhtlnks a:link {
	color: #fff;
	text-decoration: none;
}
#rhtlnks a:visited {
	color: #ccc;
	text-decoration: none;
}
#rhtlnks a:hover {
	color: #c90;
}
#rhtlnks input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999;
}
#header {
	background-image: url(../images/header_bg.gif);
	background-repeat: repeat-x;
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
}
#header img {
	margin-top: 3px;
	margin-bottom: 4px;
	margin-left: 10px;
}

/*** Body CSS ***/
#centered {
    width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
	padding-bottom: 10px;
}
#content {
    font-size: 12px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
#bodyPanel {
	float: left;
	width: 900px;
	margin: 12px 20px 20px;
}

#stepsCol {
	float: left;
	width: 300px;
}

#prevCodeCol {
	float: right;
	width: 600px;
}

.clear {
	clear: both;
}

#footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	padding-top: 40px;
	clear: both;
}

/*** Form Attributes ***/
#tmplgenForm form {
	font-size: 11px;
}
#tmplgenForm input {
	font-size: 11px;
}

fieldset {
	margin-bottom: 20px;
	padding: 10px;
}

legend {
	font-weight: bold;
	font-size: 13px;
}

.unavailable {
	color: #ccc;
}

#step1, #step2, #step2_sub, #step3, #step4 {
	font-size: 11px;
	/*background-color: #c79900;*/
}

#step1 label {
	width: 8em;
	float: left;
}
#step1 div p {
	float: left;
	margin: 0;
	padding: 0;
}
#step1 label.error {
	float: none;
	color: red;
	padding-left: 2.5em;
	vertical-align: top;
}
#step1 div {
	clear: both;
	margin-bottom: 6px;
}

#step2_sub {
	display: none;
	border-top: 1px dotted #ccc;
	padding-top: 6px;
	margin-top: 30px;
	height: 100px;
	overflow: auto;
}

#step2_sub div {
	padding-top: 10px;
}

#step2_sub label {
 	display: block;
	font-weight: bold;
}

#blockw {
	display: none;
}