@charset "utf-8";
body {
	margin: 0px;
}
/*-- Color --*/
.colorGold {
	background-position: 0px -75px;
}
.colorGold .logoAbsolute {
	background-color: #39275B;
}
.colorGold li a {
	color: #333;
}
.colorGold li a:hover {
	color: #000;
}
.colorGold  .wlogoSmall {
	background-position: 68px 5px;
}

.colorPurple {
	background-position: 0px 0px;
}
.colorPurple .wlogoSmall {
	background-position: 68px -19px;
}
.colorPurple .logoAbsolute {
	background-color: #D7A900;
}
.colorPurple li a {
	color: #FFF;
}
.colorPurple li a:hover {
	color: #CCC;
}
.colorPurple li a:active {
	color: #FFFFCC;
}


.wheader .logoAbsolute {
	position: absolute;
	height: 75px;
	width: 76px;
	background-color: #39275B;
	background-image: url(../img/w.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: -85px;
}
.wlogoSmall {
	height: 25px;
	width: 250px;
	float: left;
	background-image: url(../img/w.gif);
	background-repeat: no-repeat;
	overflow: hidden;
}
.wlogoSmall a {
	display: block;
	text-indent: -1000px;
	overflow:hidden;
}
#wtext {
	height: 25px;
	float: right;
}
.border {
	background-image: url(../img/leftbar.png);
	background-repeat: no-repeat;
	background-position: left center;	
	display: block;
	float: left;	
}



/*-- Search --*/

.wfield {
	height: 19px;
	background: url(../img/tfbg2_8.png) no-repeat;
	float: left;
}
.wTextInput {
	width: 142px;
	height: 17px;
	background: none;
	border: none;
	color: #999999;
	margin-left: 5px;
	font-size: 10px;
}


/*-- Global Header --*/

.wheader {
	background-image: url(../img/bg.gif);
	background-repeat: repeat-x;
	height: 25px;
	padding: 0 0 0 20px;
	overflow: hidden;
}
.wheader ul{
	margin: 0;
}
.wheader li{
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	white-space: nowrap;
}
.wheader li a {
	text-decoration: none;
	display:block;
	float: left;
	padding: 8px 6px 7px 6px;
	white-space: nowrap;
	text-transform: uppercase;
}
.wheader li a:hover {
	background-image: url(../img/notch.gif);
	background-position: center top;
	background-repeat: no-repeat;
}

#wsearch {
	height: 25px;
	float: right;
	margin-left: 10px;
	margin-top: 4px;
}
#wlogoLink {
	display: block;
	width: 74px;
	height: 74px;
}
.formbutton {
	cursor:pointer;
	border:none;
	background:#999;
	color:#666;
	font-weight:bold;
	padding: 0 15px 0 0;
	background:url(../img/submit_8.png) no-repeat left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0 15px 0 0;
	width: 30px;
	height: 18px;
	padding-bottom: 1px;
	vertical-align: top;
	color: transparent;
	text-transform: capitalize;
	text-indent:-9999px;
}
#autoMargin {
	display: block;
	width: 950px;
	margin: 0 auto;
}
/*-- Patch --*/

.patchNo .logoAbsolute {
	display: none;
}
.patchNo .wlogoSmall {
	background-position: 0px -19px;
	padding-left: 0px;
}
.patchYes .wlogoSmall {
	padding-left: 100px;
}

/*-- With or without W --*/

.wNo .wlogoSmall {
	background-position: -28px 5px;
}
.colorPurple.wNo .wlogoSmall {
	background-position: -28px -19px;
}
.colorGold.patchNo .wlogoSmall {
	background-position: 0px 5px;
}
.colorGold.wNo .wlogoSmall {
	background-position: -28px 5px;
}