* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff url(../images/bg_slice.gif) repeat-x;
	font-family: Arial, Verdana, Trebuchet, "Trebuchet MS", Sans;
}
img {
    border: 0;
}
a:link, a:visited, a:hover, a:active {
	color: #39275b;
}

/*** Header CSS ***/
#searchb {
	width: 165px;
	float: right;
	height: 25px;
	overflow: hidden;
}
#lgo {
	float: left;
}
#rhtlnks {
	text-align: right;
	height: 25px;
}
#searcha {
	width: 415px;
	float: right;
}
#searcha ul {
	margin-top: 2px;
	text-decoration: none;
	display: inline;
}
#searcha ul li {
	display: inline;
	padding-right: 2px;
	font-size: 10px;
	font-weight: 400;
	color: #fff;
	font-family: "Lucida Grande", geneva, helvetica, sans-serif;
	text-decoration: none;
}
#rhtlnks a {
	color: #fff;
}
#rhtlnks a:link {
	color: #fff;
	text-decoration: none;
}
#rhtlnks a:visited {
	color: #ccc;
	text-decoration: none;
}
#rhtlnks a:hover {
	color: #c90;
}
#rhtlnks input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999;
}
#header {
	background-image: url(../images/header_bg.gif);
	background-repeat: repeat-x;
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
}
#header img {
	margin-top: 3px;
	margin-bottom: 4px;
	margin-left: 10px;
}

/*** Body CSS ***/
.clear {
	clear: both;
}
.subHead {
	display: block;
	padding: 0 0 10px 0;
	font-weight: bold;
	font-size: 13px;
	color: #39275b;
}

/*** Form Attributes ***/
#tmplgenForm form {
	font-size: 16px;
}
#tmplgenForm input {
	font-size: 16px;
}
fieldset {
	padding: 20px;
	margin: 10px 0 0 20px;
	width: 615px;
	border: 1px solid #ccc;
}
legend {
	font-weight: bold;
	font-size: 17px;
	color: #39275b;
	padding: 0 3px;
}
a.unavailable {
	color: #ccc;
	text-decoration: none;
	border-bottom: 3px double;
}
a:hover.unavailable {
	cursor: default;
}
.error {
	color: red;
	font-size: 12px;
}
#step1 p {
	clear: both;
}
#step1 label {
	float: left;
	width: 8em;
}
#step1 div {
	clear: both;
	margin-bottom: 8px;
}
#step2_main {
	float: left;
	width: 30%;
}
#step2_sub {
	font-size: 11px;
	float: right;
	width: 70%;
	display: none;
}
#step2_sub #colorSrchBlk {
	float: left;
	width: 50%;
}
#step2_sub #patchBlockwBlk {
	float: left;
	width: 50%;
}
#step2_sub label {
	display: block;
	font-weight: bold;
	padding-bottom: 4px;
}
#step2_sub input {
	margin-left: 4px;
}
fieldset#options {
	width: 400px;
	padding: 10px 0 20px 15px;
	margin: 0;
}
fieldset#options legend {
	font-weight: bold;
	font-size: 13px;
	color: #39275b;
}
#step3 label {
	display: block;
	padding-bottom: 2px;
}
#step4 label {
	display: block;
	padding-bottom: 2px;
}
#generate {
	margin: 20px 272px;
	font-size: 16px;
}
#strip,#no-hdr,#sink,#purple_bg,#gold_bg,#patch,#no_patch,#w_yes,#w_no,#s_basic,#s_no,#ss_inline,#ss_tab,#ftr_basic,#ftr_w,#ftr_gold_patch,#ftr_purple_patch,#ftr_no,#copy-paste,#include,#both {
	border: 0;
}
#prevBlk {
	width: 100%;
	text-align: center;
}
#bodyTxt {
	margin: 100px 0;
}
#outputBlk {
	clear: both;
	margin: 100px auto;
	width: 960px;
}
#outputBlk div {
	width: 450px;
	float: left;
}
#outputBlk input {
	font-size: 14px;
}
#outputBlk form strong {
	text-align: right;
	float: left;
	display: block;
	width: 60px;
	font-size: 12px;
}
#outputBlk form textarea {
	font-family: Arial, Verdana, Trebuchet, "Trebuchet MS", Sans;
	font-size: 12px;
}
span.fldDvdr {
	display: block;
	clear: both;
	height: 20px;
}
#ftr-preview {
	clear: both;
}
#feedback h2 {
	font-size: 16px;
	font-weight: bold;
}
#feedbackForm {
	margin: 20px 0 50px 0;
}
#feedbackForm label {
	float: left;
	width: 100px;
	vertical-align: top;
	font-size: 14px;
}
#feedbackForm span.error {
	display: block;
	clear: both;
	margin: 5px 0 -18px;
	padding: 0;
	font-size: 12px;
	color: red;
}