@charset "utf-8";
body {
	margin: 0px;
}

/*-- Patch --*/
.patchNo .logoAbsolute {
	display: none;
}
.patchNo .wlogoSmall {
	background-position: 0px 5px;
	padding-left: 0px;
}
.patchYes .wlogoSmall {
	padding-left: 100px;
}

/*-- Color --*/
.colorGold {
	background-position: 0px -75px;
}
.colorGold .logoAbsolute {
	background-color: #39275B;
}
.colorGold li a {
	color: #333;
}
.colorGold li a:hover {
	color: #000;
}
.colorGold li a:active {
	
}

.colorPurple {
	background-position: 0px 0px;
}
.colorPurple .logoAbsolute {
	background-color: #D7A900;
}
.colorPurple li a {
	color: #FFF;
}
.colorPurple li a:hover {
	color: #CCC;
}
.colorPurple li a:active {
	color: #FFFFCC;
}


.logoAbsolute {
	position: absolute;
	height: 75px;
	width: 76px;
	background-color: #39275B;
	background-image: url(../img/w.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: -85px;
}
.wlogoSmall {
	height: 25px;
	width: 250px;
	float: left;
	background-image: url(../img/w_logo_white.png);
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: 68px 5px;

}
.wlogoSmall a {
	display: block;
	text-indent: -1000px;
	overflow:hidden;
}
#wtext {
	height: 25px;
	float: right;
}
.border {
	background-image: url(../img/leftbar.png);
	background-repeat: no-repeat;
	background-position: left center;	
	display: block;
	float: left;	
}

/*-- Search --*/

.wfield
{
	height: 19px;
	background: url(../img/tfbg2.png) no-repeat;
	float: left;
}
.wbutton
{
	width: 20px;
	height: 17px;
	background: url(../img/tfbg2.gif) no-repeat;
	float: left;
}
.wTextInput
{
	width: 142px;
	height: 17px;
	background: none;
	border: none;
	color: #999999;
	margin-left: 5px;
	font-size: 10px;
}

/*-- Button --*/


#wsearch a.button {
	background: transparent url('../img/bg_button_a.gif') no-repeat scroll top right;
	color: #444;
	display: block;
	float: left;
	font: bold 10px arial, sans-serif;
	height: 15px;
	margin-right: 3px;
	padding-right: 6px; /* sliding doors padding */
	text-decoration: none;
	margin-top: 1px;
}


#wsearch a.button span {
	background: transparent url('../img/bg_button_span.gif') no-repeat;
	display: block;
	line-height: 5px;
	padding: 5px 0 5px 7px;
} 
#wsearch a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
#wsearch a.button:active span {
	background-position: bottom left;
	padding: 5px 0 5px 7px; /* push text down 1px */
} 


/*-- Global Header --*/

.wheader {
	background-image: url(../img/bg.gif);
	background-repeat: repeat-x;
	height: 25px;
	padding: 0 0 0 20px;
	overflow: hidden;
}
.wheader ul{
	margin: 0;
}
.wheader li{
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	white-space: nowrap;
}
.wheader li a {
	text-decoration: none;

	display:block;
	float: left;
	padding: 8px 6px 7px 6px;
	white-space: nowrap;
}
.wheader li a:hover {
	background-image: url(../img/notch.gif);
	background-position: center top;
	background-repeat: no-repeat;
}
.wheader li a:active {
	
}



#wsearch {
	height: 25px;
	float: right;
	margin-left: 10px;
	margin-top: 4px;
}
#wlogoLink {
	display: block;
	width: 74px;
	height: 74px;
}
